<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331329937296-0pcnu6i284pj4k85e18k8i3avuah1sul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331329937296-0pcnu6i284pj4k85e18k8i3avuah1sul</string>
	<key>API_KEY</key>
	<string>AIzaSyAZfDLoWp8nCAFNWdIPI09OXoxWhFZWvt8</string>
	<key>GCM_SENDER_ID</key>
	<string>331329937296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minte.Game</string>
	<key>PROJECT_ID</key>
	<string>swiftgame-76863</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftgame-76863.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331329937296:ios:cd5b6ba0927262bcaa1d15</string>
</dict>
</plist>